.layermbox{position:relative;z-index:19891014}.layermmain,.laymshade{position:fixed;left:0;top:0;width:100%;height:100%}.layermbtn span,.layermchild{display:inline-block;position:relative}.laymshade{background-color:rgba(0,0,0,.5);pointer-events:auto}.layermmain{display:table;font-family:Helvetica,arial,sans-serif;pointer-events:none}.layermmain .section{display:table-cell;vertical-align:middle;text-align:center}.layermchild{text-align:left;background-color:#fff;font-size:14px;border-radius:3px;box-shadow:0 0 8px rgba(0,0,0,.1);pointer-events:auto;-webkit-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation-duration:.18s;animation-duration:.18s}.layermborder{border:1px solid #999}@-webkit-keyframes bounceIn{0%{opacity:0;-webkit-transform:scale(.5);transform:scale(.5)}100%{opacity:1;-webkit-transform:scale(1);transform:scale(1)}}.layermanim{animation-name:bounceIn;-webkit-animation-name:bounceIn}.layermbox0 .layermchild{max-width:100%;min-width:150px}.layermbox1 .layermchild{border:none;border-radius:0}.layermbox2 .layermchild{width:auto;max-width:260px;min-width:40px;border:none;background:0 0;box-shadow:none;color:#fff}.layermchild h3{padding:0 45px 0 10px;height:50px;line-height:50px;font-size:16px;font-weight:400;border-radius:3px 3px 0 0;border-bottom:1px solid #EBEBEB}.layermbtn span,.layermchild h3{text-overflow:ellipsis;overflow:hidden;white-space:nowrap}.layermcont{padding:20px 15px;line-height:22px;text-align:center}.layermbox1 .layermcont{padding:0;text-align:left}.layermbox2 .layermcont{text-align:center;padding:0;line-height:0}.layermbox2 .layermcont i{width:25px;height:25px;margin-left:8px;display:inline-block;background-color:#fff;border-radius:100%;-webkit-animation:bouncedelay 1.4s infinite ease-in-out;animation:bouncedelay 1.4s infinite ease-in-out;-webkit-animation-fill-mode:both;animation-fill-mode:both}@-webkit-keyframes bouncedelay{0%,100%,80%{transform:scale(0);-webkit-transform:scale(0)}40%{transform:scale(1);-webkit-transform:scale(1)}}@keyframes bouncedelay{0%,100%,80%{transform:scale(0);-webkit-transform:scale(0)}40%{transform:scale(1);-webkit-transform:scale(1)}}.layermbox2 .layermcont i:first-child{margin-left:0;-webkit-animation-delay:-.32s;animation-delay:-.32s}.layermbox2 .layermcont i.laymloadtwo{-webkit-animation-delay:-.16s;animation-delay:-.16s}.layermbox2 .layermcont>div{line-height:22px;padding-top:7px;margin-bottom:20px;font-size:14px}.layermbtn{position:relative;height:40px;line-height:40px;font-size:0;text-align:center;border-top:1px solid #EBEBEB}.layermbtn span{width:50%;text-align:center;font-size:14px;cursor:pointer;border-radius:0 3px 0 0}.layermbtn span:first-child{height:39px;background-color:#fff;border-radius:0 0 0 3px}.layermbtn:before{content:'\20';position:absolute;width:1px;height:39px;left:50%;top:0;background-color:#EBEBEB}.layermend{position:absolute;right:7px;top:10px;width:30px;height:30px;border:0;font-weight:400;background:0 0;cursor:pointer;-webkit-appearance:none;font-size:30px}.layermend::after,.layermend::before{position:absolute;left:5px;top:15px;content:'';width:18px;height:1px;background-color:#999;transform:rotate(45deg);-webkit-transform:rotate(45deg);border-radius:3px}.layermend::after{transform:rotate(-45deg);-webkit-transform:rotate(-45deg)}
body,
div,
ul,
li,
h1,
h2,
h3,
input,
textarea,
p,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

body {
  font-family: 'Microsoft YaHei', 'PingHei', 'Lucida Grande', 'Lucida Sans Unicode', 'STHeiti', 'Helvetica', 'Arial', 'Verdana', 'sans-serif';
  color: #7a7c80;
  font-size: 16px;
  overflow-x: hidden;
  /* 关闭字体自动调整大小 */
  -webkit-text-size-adjust: none;
  /* 滚动顺畅 */
  -webkit-overflow-scrolling: touch;
}

@media screen and (max-width: 360px) {
  html {
    font-size: 14px;
  }
}

@media screen and (min-width: 361px) and (max-width: 480px) {
  body {
    font-size: 16px;
  }
}

@media screen and (min-width: 481px) and (max-width: 640px) {
  body {
    font-size: 18px;
  }
}

@media screen and (min-width: 641px) and (max-width: 800px) {
  body {
    font-size: 20px;
  }
}

@media screen and (min-width: 801px) {
  body {
    font-size: 22px;
  }
}

a {
  color: #7a7c80;
  text-decoration: none;
  display: inline-block;
}

input {
  outline: none;
  border-radius: 0;
  background-color: inherit;
  color: #7a7c80;
  box-shadow: none;
  -webkit-box-shadow: none;
}

a,
span,
div,
img {
  /* 长按不要呼出默认菜单 */
  -webkit-touch-callout: none;
  /* 点击不要虚线框 */
  -webkit-tap-highlight-color: transparent;
  /* 不要选中文本 */
  user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -ms-user-select: -ms-none;
  -o-user-select: none;
}

a {
  text-decoration: none;
}

img {
  border: 0;
}

.user-select {
  user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -ms-user-select: -ms-none;
  -o-user-select: none;
}

.clear {
  clear: both;
  font-size: 0;
  height: 0;
}

.flex {
  display: -webkit-box;
  display: box;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-flex;
  display: flex;
}

.flex-1 {
  -webkit-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  -o-flex: 1;
  flex: 1;
  display: block;
}

.flex-2 {
  -webkit-box-flex: 2;
  box-flex: 2;
  -webkit-flex: 2;
  -moz-flex: 2;
  -ms-flex: 2;
  -o-flex: 2;
  flex: 2;
  display: block;
}

.border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.txt-l {
  text-align: left;
}

.txt-c {
  text-align: center;
}

.txt-r {
  text-align: right;
}

.fl-l {
  float: left;
}

.fl-r {
  float: right;
}


/* 超出的字体变省略号 */

.textover {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.textover2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  display: box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.word-wrap {
  word-wrap: break-word;
  word-break: break-all;
}

.pointer {
  cursor: pointer;
}

.hidden {
  display: none !important;
}


/* 美化谷歌滚动条 begin */

::-webkit-scrollbar {
  height: 12px;
  overflow: visible;
  width: 14px;
}

::-webkit-scrollbar-track {
  background-clip: padding-box;
  border: solid transparent;
  border-width: 0px 0px 0px 7px;
  border-radius: 8px;
  background-clip: padding-box;
  background-color: #dcdcdc;
  border: solid transparent;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

::-webkit-scrollbar-button {}

::-webkit-scrollbar-track-piece {}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .25);
  background-clip: padding-box;
  border: solid transparent;
  min-height: 28px;
  padding: 100px 0 0;
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset -1px -1px 0 rgba(0, 0, 0, .07);
  border-radius: 8px
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, .3);
  background-position: -10px center;
}

::-webkit-scrollbar-thumb:active {
  background-color: rgba(0, 0, 0, .4);
  background-position: -20px center;
}

.wk-scrolltimedevents {
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  border-top: 1px solid #DDD;
  border-left: 0 none;
  border-bottom: 1px solid #DDD;
  padding: 0;
  font-size: 11px;
  line-height: normal;
}


/* 美化谷歌滚动条 end */

/* 框架入口 */
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.ice {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

.ice div {
  z-index: 1 !important;
}

/* 主内容 */
.ice-main {
  padding-bottom: 1.5em;
}

/* 刷新块 */

.ice-refresh {
  position: absolute;
  top: -2.5em;
  width: 100%;
  height: 1em;
  padding-bottom: 1.5em;
  text-align: center;
  color: #aaa;
}

.ice-refresh span {
  font-size: 1.2em;
  font-weight: 700;
  display: block;
}

.ice-refresh span:after {
  content: '↓'
}

/* 加载更多 */
.ice-load {
  height: 3em;
  line-height: 3em;
  text-align: center;
  color: #ccc;
  font-size: .8em;
}

/* 文字不能选择 */

.ice-user-select {
  user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -ms-user-select: -ms-none;
  -o-user-select: none;
}
.ice-simpledate {
  display: none;
  position: absolute;
  width: 18.6rem;
  top: 50%;
  left: 50%;
  margin-left: -9.3rem;
  margin-top: -12rem;
  border: 1px solid #ddd;
  border-radius: .5rem;
  user-select: none;
  -webkit-user-select: none;
  background-color: #fff;
  overflow: hidden;
}

.ice-simpledate .ic-top,
.ice-simpledate .ic-button {
  height: 3rem;
  line-height: 3rem;
  color: #999;
}

.ice-simpledate .ic-top {
  border-bottom: 1px solid #ddd;
}

.ice-simpledate .ic-button {
  border-top: 1px solid #ddd;
  text-align: center;
  cursor: pointer;
}

.ice-simpledate .ic-main {
  margin: .8rem 0;
  padding-left: 1rem;
  padding-bottom: .6rem;
  font-size: 0;
}

.ice-simpledate .ic-date {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  margin-top: .6rem;
  margin-right: .4rem;
  border-radius: 50%;
  background-color: #e9e9e9;
  color: #aaa;
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
}

.ice-simpledate .ic-date.ic-choose {
  color: #fff;
  background-color: #3385ff;
}

.ice-simpledate .ic-top-sec {
  float: left;
  width: 50%;
  text-align: center;
  font-weight: 600;
}

.ice-simpledate .ic-top-icon {
  display: inline-block;
  width: 2rem;
  height: 3rem;
  line-height: 3rem;
  cursor: pointer;
}

/* ========== 框架布局 ========== */

a {
  color: inherit;
}

.user-photo img,
.list-photo img,
.base-photo img,
.sell-photo img,
.info-photo img,
.ice-rightbtn img,
.edit-photoimg img {
  width: 100%;
  height: 100%;
}

.line-through {
  text-decoration: line-through;
}


/* 顶部 */

.ice-nav {
  position: absolute;
  width: 100%;
  top: 0;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  z-index: 2;
}

.ice-nav a {
  display: block;
}

.ice-nav >div {
  display: block;
  height: 100%;
  font-size: 1rem;
  border-bottom: 1px solid #e6e3da;
  text-align: center;
  z-index: 2;
}

.ice-nav >div.nav-choose {
  height: 2.78rem;
  border-bottom: .3rem solid #fa702a;
  color: #fa702a;
}


/* 底部 */

.ice-bar {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  z-index: 2;
}

.ice-bar .i-link {
  display: block;
  border-top: 1px solid #d6d4d0;
  border-right: 1px solid #d6d4d0;
  font-size: .96rem;
}


/* 重写 */

.ice.ice-have-nav {
  top: 3rem;
}

.ice.ice-have-bar {
  bottom: 3rem;
}


/* ========== 重写框架布局 ========== */


/* ========== 公用弹出信息 ========== */

.alert-mess {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 1.8rem;
  line-height: 1.8rem;
  font-size: .8rem;
  text-align: center;
  background-color: rgba(0, 0, 0, .4);
  color: #fff;
  overflow: hidden;
}


/* ========== 公用弹出信息 ========== */


/* ======= 重写 layer ========= */


/* 移动端兼容，pc 下去掉 */

.layermchild {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
}

.layermchild.screen {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
  
  transform: none;
  -webkit-transform: none;
  -moz-transform: none;
}

.layermanim {
  animation-name: none;
  -webkit-animation-name: none;
  -moz-animation-name: none;
}

.alert-mess.layermchild {
  top: 1em;
}


/* 移动端兼容，pc 下去掉 */

.layermanim {
  border-radius: .68rem;
}

.layermcont {
  padding: 0;
}

.layermbtn {
  border-radius: 0 0 1rem 1rem;
  -webkit-border-radius: 0 0 1rem 1rem;
  overflow: hidden;
}

.alert-mess.layermchild {
  z-index: 3 !important;
  max-width: 100% !important;
  border-radius: 0 !important;
}

.alert-mess .layermcont {
  line-height: 1.8rem !important;
  line-height: none;
}


/* ======= 重写 layer ========= */


/* ======== 公用颜色 ======== */


/* [bg- col-]*/


/* 普通黄色 */

.bg-yellow {
  background-color: #fdf9e5;
  background-color: #f4f1e7;
}


/* 蓝色 */

.bg-blue {
  background-color: #3385ff;
}


/* 红色 */

.bg-red {
  background-color: #f0354b;
}


/* 粉红 */

.bg-pink {
  background-color: #ff57e6;
}


/* 淡黄色 */

.bg-yellow-low {
  background-color: #fffcf2;
}


/* 普通蓝色 */

.col-blue {
  color: #2b7aff;
}

.col-blue01 {
  color: #4890fc;
}


/* 黑色 */

.col-black {
  color: #18191a;
}

.col-black01 {
  color: #383a3d;
}


/* 白色 */

.col-white {
  color: #fff;
}


/* 橙色 */

.col-orange {
  color: #f2460c;
}


/* 灰色 1-4 从深到浅，grey01 是 body 颜色 */

.col-grey01 {
  color: #494b4d;
}

.col-grey02 {
  color: #7a7c80;
}

.col-grey03 {
  color: #abaeb2;
}

.col-grey04 {
  color: #c4c7cc;
}

.col-white {
  color: #fff;
}


/* ======== 公用颜色 ======== */


/* ======== 公用按钮 ======== */


/* 公用右下角按钮 */

.ice-rightbtn {
  position: absolute;
  display: block;
  right: 1rem;
  width: 2.8rem;
  height: 2.8rem;
  line-height: 2.8rem;
  border-radius: 50%;
  text-align: center;
  font-size: .92rem;
  color: #fff;
  border-width: 2px;
  border-style: solid;
  z-index: 3;
  -webkit-border-radius: 50%;
  overflow: hidden;
}

.ice-rightbtn.i-btn1 {
  bottom: 4rem;
}

.ice-rightbtn.i-btn2 {
  bottom: 7.4rem;
}

.ice-rightbtn.i-btn3 {
  bottom: 10.8rem;
}

.ice-rightbtn .i-mess {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  height: 1rem;
  line-height: 1rem;
  font-size: .5rem;
}

.ice-rightbtn.i-grey {
  background-color: #eee;
  border-color: #bbb;
  border-width: 1px;
}

.ice-rightbtn.i-blue {
  background-color: #5a9bfa;
  border-color: #5497fa;
}

.ice-rightbtn.i-orange {
  background-color: #f98a50;
  border-color: #f98345;
}


/* 底部按钮 */

.ice-endbtn {
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 1.12rem;
}

.ice-endbtn.i-orange {
  background-color: #fa702a;
}


/* 背景色按钮 */

.ice-bgbtn,
.ice-bgbtn-round {
  display: inline-block;
  width: 3.2rem;
  height: 3.2rem;
  line-height: 3.2rem;
  text-align: center;
  color: #fff;
  vertical-align: -webkit-baseline-middle;
}

.ice-bgbtn >i {
  margin-left: 0;
}

.ice-bgbtn.i-orange {
  background-color: #f98a50;
}

.ice-bgbtn.i-red {
  background-color: #f0354b;
}

.ice-bgbtn.i-blue {
  background-color: #5a9bfa;
}


/* 列表按钮 */

.ice-listbtn {
  display: inline-block;
  padding: .4rem 1.2rem;
  border-radius: .4rem;
  font-size: .92rem;
  color: #fff;
}

.ice-listbtn.i-orange {
  border: 1px solid #fa702a;
  color: #fa702a;
}

.ice-bgbtn.i-disabled,
.ice-roundbtn.i-disabled,
.ice-endbtn.i-disabled {
  background-color: #babbbd !important;
  border-color: #b6b7b8 !important;
}

.ice-listbtn.i-disabled {
  border-color: #b6b7b8 !important;
  color: #b6b7b8 !important;
}


/* ======== 公用按钮 ======== */


/* ======== 公用宽 ========= */

.wd-span {
  display: block;
  float: left;
}

.wd-span:after {
  content: ' ';
}

.wd-3 {
  width: 3rem;
}

.wd-4 {
  width: 4rem;
}

.wd-5 {
  width: 6rem;
}

.wd-6 {
  width: 6rem;
}

.wd-7 {
  width: 7rem;
}

.wd-10 {
  width: 10rem;
}

.wd-12 {
  width: 12rem;
}

.wd-16 {
  width: 16rem;
}

.mwd-3 {
  max-width: 3rem;
}

.mwd-4 {
  max-width: 4rem;
}

.mwd-5 {
  max-width: 5rem;
}

.mwd-6 {
  max-width: 6rem;
}

.mwd-7 {
  max-width: 7rem;
}

.mwd-10 {
  max-width: 10rem;
}

.mg-auto {
  margin: 0 auto;
}

.pd-lr {
  padding-left: .6rem;
  padding-right: .6rem;
}


/* ======== 公用宽 ========= */


/* ======== 公用 css3 样式 ========= */

.radius-50 {
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #d6d4d0;
  background-color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.rotate-180 {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}


/* ======== 公用边框 ========= */


/* ======== 公用边框 ========= */

.border-bottom {
  border-bottom: 1px solid #e3e3e3;
}


/* ======== 公用边框 ========= */


/* ======== 图标颜色 ========= */

.icon-woman {
  color: #f2460c;
}

.icon-man {
  color: #2b7aff;
}


/* ======== 图标颜色 ========= */


/* ======== 公用文本框  =========== */


/* 弹窗输入 */

.input01 {
  border: 1px solid #ddd;
  width: 14rem;
  border-radius: .4rem;
  margin: 1.6rem 2rem;
  padding: .8rem .5rem;
}


/* ======== 公用文本框  =========== */


/* ======== 公用背景  ============ */

.bg-lv {
  display: inline-block;
  width: 2.6rem;
  height: 1.2rem;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: contain;
}

.bg-lv1 {
  background-image: url('/assets/images/level/1.png');
}

.bg-lv2 {
  background-image: url('/assets/images/level/2.png');
}

.bg-lv3 {
  background-image: url('/assets/images/level/3.png');
}

.bg-lv4 {
  background-image: url('/assets/images/level/4.png');
}

.bg-lv5 {
  background-image: url('/assets/images/level/5.png');
}

.bg-lv6 {
  background-image: url('/assets/images/level/6.png');
}

.bg-lv7 {
  background-image: url('/assets/images/level/7.png');
}

.bg-lv8 {
  background-image: url('/assets/images/level/8.png');
}

.bg-lv9 {
  background-image: url('/assets/images/level/9.png');
}

.bg-lv10 {
  background-image: url('/assets/images/level/10.png');
}

.bg-lv11 {
  background-image: url('/assets/images/level/11.png');
}

.bg-lv12 {
  background-image: url('/assets/images/level/12.png');
}

.bg-lv13 {
  background-image: url('/assets/images/level/13.png');
}

.bg-lv14 {
  background-image: url('/assets/images/level/14.png');
}

.bg-lv15 {
  background-image: url('/assets/images/level/15.png');
}

.bg-lv16 {
  background-image: url('/assets/images/level/16.png');
}

.bg-lv17 {
  background-image: url('/assets/images/level/17.png');
}

.bg-lv18 {
  background-image: url('/assets/images/level/18.png');
}

.bg-lv19 {
  background-image: url('/assets/images/level/19.png');
}

.bg-lv20 {
  background-image: url('/assets/images/level/20.png');
}

.bg-lv21 {
  background-image: url('/assets/images/level/21.png');
}

.bg-lv22 {
  background-image: url('/assets/images/level/22.png');
}

.bg-lv23 {
  background-image: url('/assets/images/level/23.png');
}

.bg-lv24 {
  background-image: url('/assets/images/level/24.png');
}

.bg-lvb {
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: contain;
}

.bg-lvb1 {
  background-image: url('/assets/images/mlevel/1.png');
}

.bg-lvb2 {
  background-image: url('/assets/images/mlevel/2.png');
}

.bg-lvb3 {
  background-image: url('/assets/images/mlevel/3.png');
}

.bg-lvb4 {
  background-image: url('/assets/images/mlevel/4.png');
}

.bg-lvb5 {
  background-image: url('/assets/images/mlevel/5.png');
}

.bg-lvb6 {
  background-image: url('/assets/images/mlevel/6.png');
}

.bg-lvb7 {
  background-image: url('/assets/images/mlevel/7.png');
}

.bg-lvb8 {
  background-image: url('/assets/images/mlevel/8.png');
}

.bg-lvb9 {
  background-image: url('/assets/images/mlevel/9.png');
}

.bg-lvb10 {
  background-image: url('/assets/images/mlevel/10.png');
}

.bg-lvb11 {
  background-image: url('/assets/images/mlevel/11.png');
}

.bg-lvb12 {
  background-image: url('/assets/images/mlevel/12.png');
}

.bg-lvb13 {
  background-image: url('/assets/images/mlevel/13.png');
}

.bg-lvb14 {
  background-image: url('/assets/images/mlevel/14.png');
}

.bg-lvb15 {
  background-image: url('/assets/images/mlevel/15.png');
}

.bg-lvb16 {
  background-image: url('/assets/images/mlevel/16.png');
}

.bg-lvb17 {
  background-image: url('/assets/images/mlevel/17.png');
}

.bg-lvb18 {
  background-image: url('/assets/images/mlevel/18.png');
}

.bg-lvb19 {
  background-image: url('/assets/images/mlevel/19.png');
}

.bg-lvb20 {
  background-image: url('/assets/images/mlevel/20.png');
}


/* ======== 公用背景  ============ */


/* iconfont */

@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1464572029_515792.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1464572029_515792.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1464572029_515792.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1464572029_515792.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1464572029_515792.svg#iconfont') format('svg'); /* iOS 4.1- */
}
                                      
i {
  font-family: 'iconfont' !important;
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
}

i.icon-man:before {
  content: '\e600';
}

i.icon-woman:before {
  content: '\e601';
}

i.icon-close:before {
  content: '\e602';
}

i.icon-mack:before {
  content: '\e604';
}

i.icon-sound:before {
  content: '\e603';
}

i.icon-delete:before {
  content: '\e605';
}

i.icon-stop:before {
  content: '\e608';
}

i.icon-position:before {
  content: '\e609';
}

i.icon-arrowright:before {
  content: '\e60a';
}

i.icon-arrowleft:before {
  content: '\e60c';
}

i.icon-add:before {
  content: '\e60b';
}

i.icon-camera:before {
  content: '\e60d';
}

/* iconfont */

/* list-name */

.list-name >i,
.base-name >i {
  margin-top: -.3rem;
}


/* list-buttons */

.list-buttons {
  margin-top: 1rem;
  margin-bottom: .6rem;
  text-align: center;
}


/* list-photo */

.list-photo {
  position: relative;
}


/* 列表冠军 */

.list-winner {
  position: relative;
  width: 6rem;
  height: 6rem;
  overflow: hidden;
}

.list-winner >div {
  position: absolute;
}

.list-winner .bottom {
  left: .6rem;
  bottom: 0;
  width: 4.8rem;
  height: 1.8rem;
  line-height: 1.8rem;
  font-size: .92rem;
  color: #fff;
  text-align: center;
  background-color: #f0354b;
}


/* 列表冠军 */


/* 用户基本信息 [sell/show] */

.user-base {
  margin: .8rem 0;
  overflow: hidden;
}

.user-base .base-photo {
  flex: 1;
  width: 5rem;
  max-width: 5rem;
  height: 5rem;
}

.user-base .base-share {
  position: absolute;
  right: 1rem;
  font-size: 1.2rem;
}

.user-base .base-info {
  flex: 1;
  padding-left: .4rem;
  margin-top: .4rem;
  font-size: .96rem;
}

.user-base .base-name {
  height: 1.6rem;
  line-height: 1.6rem;
  font-size: 1.12rem;
}

.user-base .base-sort {
  margin-top: .4rem;
  height: 1.2rem;
  line-height: 1.2rem;
}


/* 用户基本信息 */


/* 个人中心 */

.user-info {
  padding-top: .6rem;
  padding-bottom: .6rem;
}

.user-info .info-photo {
  width: 3.6rem;
  height: 3.6rem;
}

.user-info .info-mess {
  padding-left: 1rem;
}

.user-info .info-des {
  display: block;
  float: left;
  max-width: 4rem;
  margin-right: .4rem;
  margin-top: .6rem;
  padding: 0 .4rem;
  height: 1.4rem;
  line-height: 1.4rem;
  font-size: .8rem;
  border-radius: .4rem;
  overflow: hidden;
}

.user-info i {
  margin-top: -.2rem;
}

.user-info .info-des i {
  color: #fff !important;
}

.user-info .info-update {
  display: block;
  font-size: .8rem;
  line-height: 3.4rem;
}

.user-info .info-title {
  border-left: .3rem solid #247cff;
  padding-left: .6rem;
  height: 1.6rem;
  line-height: 1.6rem;
}


/* 个人中心 */


/* 个人中心-我的拍卖 */

.user-auction {
  padding-top: .8rem;
  padding-bottom: .8rem;
}

.user-auction .auction-skill {
  padding-bottom: .2rem;
  font-size: 1.08rem;
  font-weight: 600;
}

.user-auction .auction-info {
  font-size: .88rem;
  line-height: 1.34rem;
}

.user-auction .auction-sec {
  border: 1px solid #e6e3da;
  height: 1.8rem;
  line-height: 1.8rem;
  font-size: .84rem;
}

.user-auction .auction-sec {
  display: inline-block;
  text-align: center;
}

.user-auction .auction-mg {
  margin-bottom: .6rem;
}

.user-auction .auction-memo,
.user-auction .auction-price {
  display: inline-block;
  height: 100%;
}

.user-auction .auction-memo {
  float: left;
  padding: 0 .5rem;
  color: #fff;
}

.user-auction .auction-price {
  min-width: 4.6rem;
}


/* 个人中心-我的拍卖 */


/* 修改用户资料 */

.uinfo-edit .edit-photo {
  position: relative;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 5rem;
  height: 5rem;
  line-height: 5rem;
  text-align: center;
}

.uinfo-edit .edit-photoimg {
  position: relative;
  width: 5rem;
  height: 5rem;
}

.uinfo-edit .edit-camera {
  position: absolute;
  width: 2rem;
  height: 2rem;
  line-height: 1.8rem;
  top: 1.8rem;
  right: -3rem;
}

.uinfo-edit .edit-form {
  margin-bottom: 1rem;
  width: 100%;
  padding: .8rem;
  font-size: .9rem;
}

.uinfo-edit .edit-input {
  width: 100%;
  border: 0;
  font-size: .9rem;
}

.uinfo-edit .edit-btn {
  margin: 2rem 1rem 0;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
}

.uinfo-edit .edit-btn .ice-endbtn {
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
}

.uinfo-edit .edit-span {
  display: inline-block;
  width: 100%;
}

/* 修改用户资料 */


/* 用户技能 [sell/show] */

.user-skill {
  height: 2.6rem;
  line-height: 2.6rem;
  font-size: .92rem;
  border-top: 1px solid #ebebdf;
  overflow: hidden;
}

.user-skill .skill-info {
  padding-left: .6rem;
  padding-right: .6rem;
}


/* 用户技能 */


/* 用户身价 [sell/show] */

.user-price {
  text-align: center;
  overflow: hidden;
}

.user-price .price-col {
  padding: .8rem 0;
  border: 1px solid #ebebdf;
  border-left: 0;
}

.user-price .price-col:last-child {
  border-right: 0;
}

.user-price .price-col >div {
  height: 2rem;
  line-height: 2rem;
  overflow: hidden;
}

.user-price .price-col .price-self {
  font-size: 1.4rem;
}


/* 用户身价 */


/* 交流列表 [sell/show] */

.talk-list {}

.talk-list .bg-lvb {
  margin-top: -.4rem;
}

.talk-list .list-row {
  margin-top: 1rem;
}

.talk-list .list-photo {
  max-width: 3.8rem;
  width: 3.8rem;
  height: 3.8rem;
}

.talk-list .list-content {
  padding-left: .6rem;
  font-size: .92rem;
}

.talk-list .list-name {
  margin-bottom: .24rem;
}

.talk-list .list-mess {
  margin-right: 2rem;
  padding: .24rem .6rem;
  line-height: 1.4rem;
  min-height: 1.4rem;
  border-radius: 1rem;
  border: 1px solid #eee;
}


/* 交流列表 */


/* 卖家列表 [sell/list]  ---  排行榜列表 [sell/sort-list] */

.user-list-top {
  height: 2.6rem;
  line-height: 2.6rem;
  background-color: #3c86ff;
  color: #fff;
  text-align: center;
  font-size: .92rem;
}

.user-list {}

.user-list .list-row {
  height: 4.4rem;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  border-bottom: 1px solid #efefef;
}

.user-list .list-photo,
.user-list .list-winner {
  position: relative;
  width: 4.4rem;
  height: 4.4rem;
}

.user-list .list-winner {
  line-height: 4.4rem;
}

.user-list .list-winner .bg-lvb {
  width: 3rem;
  height: 3rem;
}

.user-list .list-photo-mess {
  position: absolute;
  width: 100%;
  bottom: 0;
  color: #fff;
  text-align: center;
  background-color: rgba(255, 69, 0, .8);
  font-size: .88rem;
}

.user-list .list-info {
  position: relative;
  padding-left: .6rem;
}

.user-list .list-name {
  line-height: 1.6rem;
  font-size: 1.12rem;
}

.user-list .list-mess:first-child {
  margin-top: .2rem !important;
}

.user-list .list-mess {
  margin-top: .4rem;
  height: 1rem;
  line-height: 1rem;
  font-size: .96rem;
}

.user-list .list-mess span {
  display: block;
  float: left;
}

.user-list .list-price {
  width: 5rem;
  height: 4rem;
  padding-top: .5rem;
  line-height: 1.5rem;
  font-size: 1.2rem;
  overflow: hidden;
}

.user-list .list-price-mess {
  font-size: .92rem;
}


/* === user-list 重载  === */

.user-list .list-infosort {
  margin-top: .8rem !important;
}

.user-list .list-photoprod {
  border-radius: 1rem !important;
}

.user-list .list-photoprod .list-photo-mess {
  background-color: rgba(0, 0, 0, .5);
}


/* === user-list 重载  === */


/* 卖家列表 */


/* 我的买卖 [sell/order-list] */

.order-list {}

.order-list .list-top {
  height: 3rem;
  line-height: 3rem;
  border-bottom: 1px solid #efefef;
}

.order-list .list-cell {
  font-size: .96rem;
}

.order-list .list-row {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  border-bottom: 1px solid #efefef;
}

.order-list .list-row.list-rowone {
  height: 3rem;
  line-height: 3rem;
}

.order-list .list-photo {
  margin: 0 auto;
  width: 3.4rem;
  height: 3.4rem;
}

.order-list .list-names {
  line-height: 1.4rem;
}

.order-list .list-names i {
  margin-top: -.1rem;
}

.order-list .list-info {
  position: relative;
  padding-left: .6rem;
}

.order-list .list-info-date {
  position: absolute;
  top: 0;
  right: 0;
  font-size: .8rem;
}

.order-list .list-mess {
  font-size: .8rem;
  height: 1.2rem;
  line-height: 1.2rem;
}


/* 我的买卖 */


/* 个人中心 */

.user-photo {
  padding: .8rem 0;
  height: 4rem;
}

.user-photo .photo-add,
.user-photo .photo-arrow {
  padding: 0 .5rem;
  font-size: 2rem;
  line-height: 4rem;
}

.user-photo .photo-arrow {
  line-height: 3.8rem !important;
}

.user-photo .photo-images {
  width: 100%;
  height: 4.6rem;
  overflow: hidden;
  overflow-x: scroll;
}

.user-photo .photo-image-main {
  margin-top: .4rem;
  width: 1000rem;
}

.user-photo .photo-image {
  float: left;
  margin-left: .5rem;
  width: 3.6rem;
  height: 3.6rem;
  background-color: #ccc;
}


/* 个人中心 */


/* 导航列表 */

.menu-list {
  margin-top: 2rem;
}

.menu-list .list-row {
  line-height: 3rem;
  border-bottom: 1px solid #e6e3da;
}

.menu-list .list-row:last-child {
  border-bottom: 0;
}

.menu-list .list-icon {
  padding: 0 .4rem;
}

.menu-list .list-money {
  margin-top: .8rem;
  height: 1.6rem !important;
  line-height: 1.7rem !important;
  border: 1px solid #fa702a;
  border-radius: .4rem;
  font-size: .8rem;
  overflow: hidden;
}

.menu-list .list-memo,
.menu-list .list-price {
  float: left;
  display: inline-block;
  min-width: 3rem;
  text-align: center;
}

.menu-list .list-memo {
  color: #fff;
  background-color: #fa702a;
}

.menu-list .list-price {
  color: #fa702a;
  background-color: #fff;
}


/* 导航列表 */


/* 表单编辑 [sell/edit] */

.user-edit {}

.user-edit .edit-title {
  border-left: .3rem solid #90bbfb;
  padding-left: .6rem;
  margin-top: 1.4rem;
  margin-bottom: .8rem;
  height: 1.6rem;
  line-height: 1.6rem;
}

.form-edit {
  padding-top: .4rem;
  padding-bottom: .4rem;
}

.form-edit .edit-options {}

.form-edit .edit-option,
.form-edit .edit-text {
  float: left;
  margin: .3rem 0;
  margin-right: .4rem;
  height: 1.2rem;
  line-height: 1.2rem;
  font-size: .9rem;
}

.form-edit .edit-option {
  display: block;
  padding: .5rem .6rem;
  border: 1px solid #abaeb3;
  cursor: pointer;
}

.form-edit .edit-text {
  width: 100%;
  padding: .5rem;
  border: 0;
  border-bottom: 1px solid #ddd;
}

.form-edit .edit-option.option-choose {
  background-color: #fa702a;
  border-color: #fa702a;
  color: #fff;
}

.form-edit .ice-bgbtn {
  font-size: 1.4rem;
}

.form-edit .ice-bgbtn i {
  margin-top: -.2rem
}

.form-edit .btn-big {
  font-size: 1.82rem;
  width: 4rem;
  height: 4rem;
  line-height: 4rem;
}


/* 表单编辑 */


/* 提现弹窗 */

.dialog-moneyup {
  padding: 2rem 2rem 1rem 2rem;
  margin: 0 auto;
  font-size: .9rem;
}


/* 提现弹窗 */


/* 相册弹窗 */

.dialog-photo {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 6;
  background-color: rgba(0, 0, 0, .88);
}

.dialog-photo .photo-close {
  position: fixed;
  bottom: 0;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  color: #fff;
  font-size: 1.12rem;
}

.dialog-photo .photo-main {
  position: absolute;
  top: 25%;
  width: 100%;
  height: 50%;
  margin: 0 auto;
  overflow: hidden;
}

.dialog-photo .photo-main >div {
  width: 100%;
  height: 100%;
  text-align: center;
}

.dialog-photo .photo-main img {
  width: 100%;
  max-width: 16rem;
  max-height: 16rem;
}

.dialog-photo .photo-num {
  position: absolute;
  width: 100%;
  bottom: 4rem;
  color: #fff;
  font-size: 1.2rem;
}

.dialog-photo .icon-left,
.dialog-photo .icon-right {
  position: absolute;
  top: 50%;
  height: 4rem;
  line-height: 4rem;
  margin-top: -4rem;
  width: 2rem;
}

.dialog-photo .icon-left {
  left: 1rem;
}

.dialog-photo .icon-right {
  right: 1rem;
}


/* 相册弹窗 */


/* 性别选择 */

.dialog-sex {
  width: 14rem;
}

.dialog-sex .sex-icon {
  display: inline-block;
  margin: 1rem;
  width: 3rem;
  height: 3rem;
  line-height: 2.6rem;
  border-width: 3px;
  border-style: solid;
  font-size: 2.2rem;
}

.dialog-sex .sex-man {
  border-color: #2b7aff;
}

.dialog-sex .sex-woman {
  border-color: #f2460c;
}


/* 性别选择 */


/* 输入微信弹窗 */

.dialog-inputwx {
  padding: 2rem 2rem 1rem 2rem;
  margin: 0 auto;
  font-size: .74rem;
}

.dialog-inputwx input {
  border: 1px solid #ddd;
  width: 14rem;
  padding: .6rem 1rem;
  margin-bottom: 1rem;
  border-radius: .6rem;
}

.dialog-moneyup img,
.dialog-inputwx img {
  width: 8rem !important;
  height: 8rem !important;
}


/* 输入微信弹窗 */


/* 卖家信息弹窗 */

.dialog-sell {
  width: 17.6rem;
  z-index: 5 !important;
  overflow: hidden;
  font-size: 1rem;
}

.dialog-sell .sell-top {
  height: 3rem;
}

.dialog-sell .sell-title {
  line-height: 2.4rem;
  float: left;
  padding-left: .8rem;
  padding-right: 1rem;
  color: #fff;
  background-color: #3386ff;
}

.dialog-sell i {
  float: right;
  font-size: 1.76rem;
  padding: .4rem .6rem;
}

.dialog-sell .sell-photo {
  margin: 0 auto;
  width: 5rem;
  height: 5rem;
}

.dialog-sell .sell-photo {
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: .8rem;
  width: 6rem;
  height: 6rem;
}

.dialog-sell .sell-info {
  padding-bottom: 1rem;
  line-height: 1.8rem;
  font-size: 1.08rem;
}

.dialog-sell .sell-name {
  width: 6rem;
  overflow: hidden;
  text-align: right;
}


/* 卖家信息弹窗 */
