/* ========== 框架布局 ========== */

a {
  color: inherit;
}

.ice {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.ice div {
  z-index: 1;
}

.ice-refresh {
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  color: #aaa;
}

.ice-refresh:after {
  content: '加载更多';
}

/*
.ice-refresh {
  display: none;
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  color: #999;
}

.ice-refresh:after {
  content: '按住松手加载更多';
}

.ice-refresh.i-last:after {
  content: '已显示全部内容';
}

.ice-refresh.ice-refresh-bar {
  bottom: 3rem;
}
*/

.ice-nav {
  position: relative;
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  background-color: #f3f3f3;
  z-index: 2 !important;
}

.ice-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  background-color: #f3f3f3;
  z-index: 2 !important;
}

.ice-bar .i-link {
  display: block;
  border-top: 1px solid #d6d4d0;
  border-right: 1px solid #d6d4d0;
  font-size: .96rem;
}

.ice-main {
  position: absolute;
  width: 100%;
  top: -5rem;
  bottom: 0rem;
  left: 0;
  right: 0;
  overflow: auto;
}


/* 有 ice-bar 的 ice-main */

.ice-main.ice-main-bar {
  bottom: 3rem !important;
}

.ice-main .i-hide {
  height: 5rem;
  line-height: 5rem;
  text-align: center;
}

.ice-main .i-hide:after {
  content: '↓'
}

.ice-nav ~ .ice-main {
  top: -2rem;
}

.ice-mess {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 1.8rem;
  line-height: 1.8rem;
  font-size: .8rem;
  text-align: center;
  background-color: rgba(0, 0, 0, .4);
  color: #fff;
  overflow: hidden;
}

.ice-pdlr {
  padding-left: .6rem;
  padding-right: .6rem;
}


/* ========== 框架布局 ========== */


/* ======= 重写 layer ========= */

.layermmain {
  font-family: inherit;
}

.layermanim {
  border-radius: .68rem;
}

.layermcont {
  padding: 0;
}

.ice-mess.layermchild {
  z-index: 3 !important;
  max-width: 100% !important;
  border-radius: 0 !important;
}

.ice-mess .layermcont {
  line-height: 1.8rem !important;
  line-height: none;
}


/* ======= 重写 layer ========= */


/* ======== 公用颜色 ======== */


/* [bg- col-]*/


/* 普通黄色 */

.bg-yellow {
  background-color: #f4f1e7;
  background-color: #fdf9e5;
}


/* 淡黄色 */

.bg-yellow-low {
  background-color: #fffcf2;
}


/* 普通蓝色 */

.col-blue {
  color: #2b7aff;
}


/* 黑色 */

.col-black {
  color: #18191a;
}

.col-black01 {
  color: #383a3d;
}


/* 白色 */

.col-white {
  color: #fff;
}


/* 橙色 */

.col-orange {
  color: #f2460c;
}


/* 灰色 1-4 从深到浅，grey01 是 body 颜色 */

.col-grey01 {
  color: #494b4c;
}

.col-grey02 {
  color: #7a7c80;
}

.col-grey03 {
  color: #abaeb2;
}

.col-grey04 {
  color: #c4c7cc;
}

.col-white {
  color: #fff;
}


/* ======== 公用颜色 ======== */


/* ======== 公用按钮 ======== */

.ice-roundbtn {
  position: fixed;
  display: block;
  right: 1rem;
  width: 2.8rem;
  height: 2.8rem;
  line-height: 2.8rem;
  border-radius: 50%;
  text-align: center;
  font-size: .92rem;
  color: #fff;
  border-width: 2px;
  border-style: solid;
  z-index: 3;
}

.ice-roundbtn.i-btn1 {
  bottom: 4rem;
}

.ice-roundbtn.i-btn2 {
  bottom: 7.4rem;
}

.ice-roundbtn.i-blue {
  background-color: #5a9bfa;
  border-color: #5497fa;
}

.ice-roundbtn.i-orange {
  background-color: #f98a50;
  border-color: #f98345;
}

.ice-endbtn {
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 1.12rem;
}

.ice-endbtn.i-orange {
  background-color: #fa702a;
}

.i-disabled {
  background-color: #babbbd !important;
  border-color: #b6b7b8 !important;
}


/* ======== 公用按钮 ======== */


/* ======== 公用顶部 ======== */

.ice-nav-top {
}

.ice-nav-top >div {
  height: 100%;
  font-size: 1rem;
  border-bottom: 1px solid #e6e3da;
  text-align: center;
}

.ice-nav-top >div.nav-choose {
  height: 2.78rem;
  border-bottom: .3rem solid #fa702a;
  color: #fa702a;
}


/* ======== 公用顶部 ======== */


/* ======== 公用宽 ========= */

.wd-span {
  display: block;
  float: left;
}

.wd-span:after {
  content: ' ';
}

.wd-3 {
  width: 3rem;
}

.wd-4 {
  width: 4rem;
}

.wd-5 {
  width: 6rem;
}

.wd-6 {
  width: 6rem;
}

.wd-7 {
  width: 7rem;
}

.wd-10 {
  width: 10rem;
}

.wd-12 {
  width: 12rem;
}

.wd-16 {
  width: 16rem;
}

.mwd-3 {
  max-width: 3rem;
}

.mwd-4 {
  max-width: 4rem;
}

.mwd-5 {
  max-width: 5rem;
}

.mwd-6 {
  max-width: 6rem;
}

.mwd-7 {
  max-width: 7rem;
}

.mwd-10 {
  max-width: 10rem;
}

.mg-auto {
  margin: 0 auto;
}


/* ======== 公用宽 ========= */


/* ======== 公用 css3 样式 ========= */

.radius-50 {
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #d6d4d0;
  background-color: #fff;
}

.rotate-180 {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}


/* ======== 公用边框 ========= */


/* ======== 图标颜色 ========= */

.icon-woman {
  color: #f2460c;
}

.icon-man {
  color: #2b7aff;
}


/* ======== 图标颜色 ========= */


/* ======== 公用文本框  =========== */

/* 弹窗输入 */

.input01 {
  border: 1px solid #ddd;
  width: 14rem;
  border-radius: .4rem;
  margin: 1.6rem 2rem;
  padding: .8rem .5rem;
}

/* ======== 公用文本框  =========== */

/* ======== 公用背景  ============ */

.bg-lv {
  display: inline-block;
  width: 3rem;
  height: 1.6rem;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: contain;
}

.bg-lv01 {
  background-image: url('/assets/images/level/1.png');
}

.bg-lv02 {
  background-image: url('/assets/images/level/2.png');
}

/* ======== 公用背景  ============ */
