/* ========== 框架布局 ========== */

a {
  color: inherit;
}

/* 顶部 */
.ice-nav {
  position: fixed;
  width: 100%;
  top: 0;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  z-index: 2;
}

.ice-nav a {
  display: block;
}

.ice-nav >div {
  display: block;
  height: 100%;
  font-size: 1rem;
  border-bottom: 1px solid #e6e3da;
  text-align: center;
  z-index: 2;
}

.ice-nav >div.nav-choose {
  height: 2.78rem;
  border-bottom: .3rem solid #fa702a;
  color: #fa702a;
}

/* 底部 */
.ice-bar {
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  z-index: 2;
}

.ice-bar .i-link {
  display: block;
  border-top: 1px solid #d6d4d0;
  border-right: 1px solid #d6d4d0;
  font-size: .96rem;
}

/* 重写 */


.ice.ice-have-nav {
  top: 3rem;
}

.ice.ice-have-bar {
  bottom: 3rem;
}

.ice.ice-have-nav .ice-refresh {
  margin-top: 3rem;
}


/* ========== 重写框架布局 ========== */


/* ========== 公用弹出信息 ========== */

.alert-mess {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 1.8rem;
  line-height: 1.8rem;
  font-size: .8rem;
  text-align: center;
  background-color: rgba(0, 0, 0, .4);
  color: #fff;
  overflow: hidden;
}


/* ========== 公用弹出信息 ========== */


/* ======= 重写 layer ========= */

.layermmain {
  font-family: inherit;
}

.layermanim {
  border-radius: .68rem;
}

.layermcont {
  padding: 0;
}

.layermbtn {
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  overflow: hidden;
}

.alert-mess.layermchild {
  z-index: 3 !important;
  max-width: 100% !important;
  border-radius: 0 !important;
}

.alert-mess .layermcont {
  line-height: 1.8rem !important;
  line-height: none;
}


/* ======= 重写 layer ========= */


/* ======== 公用颜色 ======== */


/* [bg- col-]*/


/* 普通黄色 */

.bg-yellow {
  background-color: #fdf9e5;
  background-color: #f4f1e7;
}


/* 淡黄色 */

.bg-yellow-low {
  background-color: #fffcf2;
}


/* 普通蓝色 */

.col-blue {
  color: #2b7aff;
}


/* 黑色 */

.col-black {
  color: #18191a;
}

.col-black01 {
  color: #383a3d;
}


/* 白色 */

.col-white {
  color: #fff;
}


/* 橙色 */

.col-orange {
  color: #f2460c;
}


/* 灰色 1-4 从深到浅，grey01 是 body 颜色 */

.col-grey01 {
  color: #494b4c;
}

.col-grey02 {
  color: #7a7c80;
}

.col-grey03 {
  color: #abaeb2;
}

.col-grey04 {
  color: #c4c7cc;
}

.col-white {
  color: #fff;
}


/* ======== 公用颜色 ======== */


/* ======== 公用按钮 ======== */

.ice-roundbtn {
  position: fixed;
  display: block;
  right: 1rem;
  width: 2.8rem;
  height: 2.8rem;
  line-height: 2.8rem;
  border-radius: 50%;
  text-align: center;
  font-size: .92rem;
  color: #fff;
  border-width: 2px;
  border-style: solid;
  z-index: 3;

  -webkit-border-radius: 50%;
}

.ice-roundbtn.i-btn1 {
  bottom: 4rem;
}

.ice-roundbtn.i-btn2 {
  bottom: 7.4rem;
}

.ice-roundbtn.i-blue {
  background-color: #5a9bfa;
  border-color: #5497fa;
}

.ice-roundbtn.i-orange {
  background-color: #f98a50;
  border-color: #f98345;
}

.ice-endbtn {
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 1.12rem;
}

.ice-endbtn.i-orange {
  background-color: #fa702a;
}

.ice-listbtn {
  display: inline-block;
  padding: .4rem 1.2rem;
  border-radius: .4rem;
  font-size: .92rem;
  color: #fff;
}

.ice-listbtn.i-orange {
  border: 1px solid #fa702a;
  color: #fa702a;
}

.ice-roundbtn.i-disabled,
.ice-endbtn.i-disabled {
  background-color: #babbbd !important;
  border-color: #b6b7b8 !important;
}

.ice-listbtn.i-disabled {
  border-color: #b6b7b8 !important;
  color: #b6b7b8 !important;
}


/* ======== 公用按钮 ======== */


/* ======== 公用宽 ========= */

.wd-span {
  display: block;
  float: left;
}

.wd-span:after {
  content: ' ';
}

.wd-3 {
  width: 3rem;
}

.wd-4 {
  width: 4rem;
}

.wd-5 {
  width: 6rem;
}

.wd-6 {
  width: 6rem;
}

.wd-7 {
  width: 7rem;
}

.wd-10 {
  width: 10rem;
}

.wd-12 {
  width: 12rem;
}

.wd-16 {
  width: 16rem;
}

.mwd-3 {
  max-width: 3rem;
}

.mwd-4 {
  max-width: 4rem;
}

.mwd-5 {
  max-width: 5rem;
}

.mwd-6 {
  max-width: 6rem;
}

.mwd-7 {
  max-width: 7rem;
}

.mwd-10 {
  max-width: 10rem;
}

.mg-auto {
  margin: 0 auto;
}

.pd-lr {
  padding-left: .6rem;
  padding-right: .6rem;
}


/* ======== 公用宽 ========= */


/* ======== 公用 css3 样式 ========= */

.radius-50 {
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #d6d4d0;
  background-color: #fff;

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.rotate-180 {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}


/* ======== 公用边框 ========= */


/* ======== 图标颜色 ========= */

.icon-woman {
  color: #f2460c;
}

.icon-man {
  color: #2b7aff;
}


/* ======== 图标颜色 ========= */


/* ======== 公用文本框  =========== */


/* 弹窗输入 */

.input01 {
  border: 1px solid #ddd;
  width: 14rem;
  border-radius: .4rem;
  margin: 1.6rem 2rem;
  padding: .8rem .5rem;
}


/* ======== 公用文本框  =========== */


/* ======== 公用背景  ============ */

.bg-lv {
  display: inline-block;
  width: 2.6rem;
  height: 1.2rem;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: contain;
}

.bg-lv1 {
  background-image: url('/assets/images/level/1.png');
}

.bg-lv2 {
  background-image: url('/assets/images/level/2.png');
}

.bg-lv3 {
  background-image: url('/assets/images/level/3.png');
}

.bg-lv4 {
  background-image: url('/assets/images/level/4.png');
}

.bg-lv5 {
  background-image: url('/assets/images/level/5.png');
}

.bg-lv6 {
  background-image: url('/assets/images/level/6.png');
}

.bg-lv7 {
  background-image: url('/assets/images/level/7.png');
}

.bg-lv8 {
  background-image: url('/assets/images/level/8.png');
}

.bg-lv9 {
  background-image: url('/assets/images/level/9.png');
}

.bg-lv10 {
  background-image: url('/assets/images/level/10.png');
}

.bg-lv11 {
  background-image: url('/assets/images/level/11.png');
}

.bg-lv12 {
  background-image: url('/assets/images/level/12.png');
}

.bg-lv13 {
  background-image: url('/assets/images/level/13.png');
}

.bg-lv14 {
  background-image: url('/assets/images/level/14.png');
}

.bg-lv15 {
  background-image: url('/assets/images/level/15.png');
}

.bg-lv16 {
  background-image: url('/assets/images/level/16.png');
}

.bg-lv17 {
  background-image: url('/assets/images/level/17.png');
}

.bg-lv18 {
  background-image: url('/assets/images/level/18.png');
}

.bg-lv19 {
  background-image: url('/assets/images/level/19.png');
}

.bg-lv20 {
  background-image: url('/assets/images/level/20.png');
}

.bg-lv21 {
  background-image: url('/assets/images/level/21.png');
}

.bg-lv22 {
  background-image: url('/assets/images/level/22.png');
}

.bg-lv23 {
  background-image: url('/assets/images/level/23.png');
}

.bg-lv24 {
  background-image: url('/assets/images/level/24.png');
}


/* ======== 公用背景  ============ */


/* iconfont */

@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1461733607_4005296.eot');
  /* IE9*/
  src: url('//at.alicdn.com/t/font_1461733607_4005296.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1461733607_4005296.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1461733607_4005296.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1461733607_4005296.svg#iconfont') format('svg');
  /* iOS 4.1- */
}

i {
  font-family: 'iconfont' !important;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  display: inline-block;
  margin-left: .14rem;
  vertical-align: middle;
}

i.icon-man:before {
  content: "\e600";
}

i.icon-woman:before {
  content: "\e601";
}

i.icon-close:before {
  content: "\e602"
}


/* iconfont */
